.contenedor-tres{
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 0.5fr 4fr 0.15fr;
    .header{
        grid-area: header; 
        .header__h1{
            @include titulos;
        }
    }
    .main{
        grid-area: main;
        font-size: 2rem;
        color: $color-general;
        max-width: 100%;
        text-align: center;
        @include flex-center-col;
        .cont-4to, .cont-5to, .cont-6to{
            position: relative;
            @include flex-center-col;
            width: 95%;
            padding: 2rem 0rem 4rem 0rem;
            margin-bottom: 4rem;
            background: rgb(107,73,80);
            background: linear-gradient(315deg, rgba(107,73,80,1) 0%, rgba(140,91,101,1) 25%, rgba(219,145,160,1) 50%, rgba(212,167,176,1) 75%, rgba(255,207,217,1) 100%);  
            span{
                display: none;
            }
            h3{
                font-size: 5rem;
                margin-bottom: 2rem;
                padding: 0rem 1.5rem;
                box-shadow: 0px 1px 0.1px white;
            }
            .cont-bach{
                width: 80%;
                @include flex-center-col;
                .div-img{
                    @include flex-center;
                    
                    img{
                        border-radius:1rem 1rem 0px 0px;; 
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
                .p{
                    
                    padding: 0.5rem 0rem 2rem 0rem; 
                    box-shadow: 0px 1px 0.1px white; 
                    a{
                        color: $color-general;
                        text-decoration: none;
                        
                    }         
                }
            }
            
        }
        .cont-5to{
            margin: 2rem 0rem;
                 
        }
        .cont-6to{
            margin: 4rem 0rem 10rem 0rem;
            
        }
    }
    .footer{
        grid-area: footer;
    }
}
@media screen and (min-width:600px){
    .contenedor-tres{
        .header{
            .header__h1{
                font-size: 9rem;
            }
        }
        .main{
            font-size: 2.5rem;
            .cont-4to, .cont-5to, .cont-6to{
                h3{
                    font-size: 7rem;
                    box-shadow: 0px 2px 0.1px white;
                }
                .cont-bach{
                    .div-img{
                        img{ 
                            max-width: 33rem;
                        }
                    }   
                    .p{   
                        
                        max-width: 33rem;        
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1024px){
    .contenedor-tres{
        .header{
            .header__h1{
                font-size: 12rem;
            }
        }
        .main{
            font-size: 2.7rem;
            .cont-4to, .cont-5to, .cont-6to{
                width: 100%;
                height: 80vh;
                display: flex;
                justify-content: space-evenly;
                padding: 0;
                
                span{
                    display: inherit;
                    width: 40vw;
                    max-width: 75rem;
                    background-image: url(../img/fondo3-1.png);
                    background-repeat: repeat;
                    background-color: $bg-color;
                    background-position: center;
                    height: 2.3vw;
                    min-height: 2.9rem;
                    position: absolute;
                    transform: rotate(135deg);
                    top: 10vw;
                    left: -10vw;
                }   
                h3{
                    font-size: 9rem;
                    margin: 0;
                }
                .cont-bach{
                    flex-direction: row;
                    padding-bottom: 4.3rem;
                    .div-img{
                        img{
                            max-width: 35rem;
                            margin: 0;
                            border-radius: 0;
                            margin-right: 2rem;
                        }
                    }
                    .p{
                        margin-left: 2rem;
                        max-width: 35rem;
                        padding: 0rem 0rem 2.5rem 0rem;
                        position: relative;
                        transition: 0.4s;
                    }
                    .p::after{
                        content: "";
                        width: 2px;
                        display: block;
                        height: 0;
                        background-color: white;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .p:hover::after{
                        height: 100%;
                        transition: 0.5s;
                    }
                    .p::before{
                        content: "";
                        width: 0;
                        display: block;
                        height: 2px;
                        background-color: white;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    .p:hover::before{
                        width: 100%;
                        transition: 0.4s;
                    }
                    .p:hover{
                        scale: 1.05;
                        transition: 0.4s;
                        padding-right: 1rem;
                    }
                    
                    
                }
                
            }
        }
    }
}
@media screen and (min-width:1366px){
    .contenedor-tres{
        .main{
            font-size: 3rem;
            .cont-4to, .cont-5to, .cont-6to{
                margin: 0rem 0rem 15rem 0rem;
                .cont-bach{
                    .div-img{
                        img{
                            max-width: 43rem;
                            
                        }
                    }
                    
                    .p{
                        max-width: 45rem;
                    }
                    
                }
                
            }
            
        }
    }
    
}