.contenedor-dos{
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 0.5fr 6fr 0.3fr;
    .header{
        grid-area: header;
        .header__h1{
            @include titulos;
        }
    }    
    .main{
        grid-area: main;
        @include flex-center-col;
        margin-top: 2rem;
        .div-p{
            @include flex-center;
            width: 100%;
            margin-bottom: 3.5rem;
            background: rgb(107,73,80);
            background: linear-gradient(175deg, rgba(107,73,80,1) 0%, rgba(140,91,101,1) 72%, rgba(219,145,160,1) 100%); 
            box-shadow: 0px 1px 0.1px #bfb5af inset,
                        0px 7px 30px -15px black;           
            p{
                width: 80%;
                color: $color-general;
                font-size: 2rem;
                text-align: center;
                padding: 1rem 0rem; 
                a{
                    color: $color-general;
                } 
            }
        }
        .cont-dinamico{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                display: flex;
                justify-content: center;
                text-decoration:none;
                width: 80%;
                max-width: 40rem;
                margin-bottom: 7rem;
                div{
                    width: 100%;
                    box-shadow: 0px 2px 0.1px white; 
                    display: flex;
                    flex-direction: column; 
                    align-items: center;
                    img{
                        width: 100%;
                        max-width: 40rem;
                        border-start-end-radius: 1rem;
                        border-start-start-radius: 1rem;
                        border: 2.5px solid white;
                    }
                    p{
                        color: $color-general;
                        text-align: center;
                        font-size: 2rem

                    }
                    h2{
                        @extend %subtitulos;
                    }
                    h3{
                        @extend %subtitulos;
                    }
                }          
            }
        }
    }
    .footer{
        grid-area: footer;
    }
}
@media screen and (min-width:600px){
    .contenedor-dos{
        grid-template-rows: 0.5fr 3fr 0.3fr;
        .header{
            .header__h1{
                font-size: 9rem;
            }
        }
        .main{
            .div-p{
                margin-bottom: 4rem;
                p{
                    width: 70%;
                    font-size: 2.5rem; 
                    padding: 1.5rem 0rem;
                }
            }
            .cont-dinamico{
                display: flex;
                justify-items: center;
                display: grid;
                grid-template-areas: "cont1 cont2" "cont3 cont4" "cont5 cont6";
                a{
                    margin-bottom: 10rem;
                    .cont-1{
                        grid-area: cont1;
                    }
                    .cont-2{
                        grid-area: cont2;
                    }
                    .cont-3{
                        grid-area: cont3;
                    }
                    .cont-4{
                        grid-area: cont4;
                    }
                    .cont-5{
                        grid-area: cont5;
                    }
                    .cont-6{
                        grid-area: cont6;
                    }
    
                    div{
                        max-width: 35rem;
                        h2{
                            font-size: 3.5rem;
                            height: 13rem;
                        }
                        h3{
                            font-size: 3.5rem;
                            height: 13rem;
                        }
                    }
                }
                
            }
        }
    }
}
@media screen and (min-width:1024px){
    .contenedor-dos{
        .header{
            .header__h1{
                font-size: 12rem;
            }
        }
        .main{
            .div-p{
                margin-bottom: 4.5rem;
                max-width: 1024px;
                p{
                    width: 80%;
                    font-size: 3rem; 
                    padding: 2rem 0rem;
                }
            }
            .cont-dinamico{
                div{
                    max-width: 40rem;     
                    position: relative;                 
                    h2{
                        font-size: 5rem;
                        height: 15rem;                       
                    }
                    h3{
                        font-size: 5rem;
                        height: 15rem;
                    }
                    transition: 0.5s;
                }
                div::before{
                    content:"";
                    width: 2px;
                    height: 0;
                    top: 5%;
                    right: 0;
                    background-color: white;
                    position: absolute;
                }
                div:hover::before{
                    height: 95%;
                    transition: 0.5s;
                }
                div::after{
                    content:"";
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    position: absolute;
                }
                div:hover::after{
                    width: 100%;
                    transition: 0.5s;
                }
                
                div:hover{
                    transform: scale(1.1);  
                    transition: 0.5s;                       
                }
            }
        }
    }
}
@media screen and (min-width:1367px){
    .contenedor-dos{
        .main {
            .cont-dinamico{
                width: 55%;
            }
        }
    } 
}