.contenedor-cinco{
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 0.5fr 1fr 0.2fr;
    .header{
        grid-area: header;
        .header__h1{
            @include titulos;
        }
    }
    .main{
        @include flex-center;
        grid-area: main;
        font-size: 1.8rem;
        text-align: center;
        .form{
            background-color: $bg-color;
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0px 0px 20px -5px black;
            width: 85vw;
            .form__area{
                background-color: $hover-color;
                padding: 2rem;
                color: white;
                width: 100%;
                border-radius: 1rem;
                box-shadow: 0px 0px 50px -40px black;
                .form__title{
                    text-align: center;
                    box-shadow: 1px 1px 0.1px white,
                                -1px 1px 0.1px white,
                                0px 0px 10px -2px black;
                    margin-bottom: 1.5rem;
                    padding: 0.5rem 0rem;
                    font-size: 2rem;
                }
                .form__div{
                    margin-bottom: 1.5rem;
                    box-shadow: 0px 0px 10px -2px black;
                    .form__lab{
                        padding: 0.2rem 0rem;
                    }
                    .form__input{
                        width: 100%;
                        text-align: center;
                        padding: 0.4rem 0rem;
                    }
                    .form__input-consulta{
                        width: 100%;
                        text-align: center;
                        height: 8rem;
                        padding: 0.5rem;
                    }
                }
                .form__div-1{
                    display: flex;
                    justify-content: space-between;
                    .form__input-1{
                        background-color: $hover-color;
                        color: $color-general;
                        border-radius: 0.5rem;
                        border: 0.5px white solid;
                        width: 40%;
                        min-width: 11rem;
                        padding: 0.5rem 0rem;
                        font-weight: bold;
                        margin-top: 0.5rem;
                        box-shadow: 0px 0px 10px -2px black;
                    }
                    .form__input-1:active{
                        transform: translatey(3px);
                        border-radius: 0.5rem;
                    }
                }
                
                
                
            }
        }
    }
    .footer{
        grid-area: footer;
    }
}
@media screen and (min-width:601px){
    .contenedor-cinco{
        .header{
            .header__h1{
                font-size: 9rem;
            }
        }
        .main{
            font-size: 2rem;
            .form{
                max-width: 60rem;
            }
        }
    }
}
@media screen and (min-width:1024px){
    .contenedor-cinco{
        .header{
            .header__h1{
                font-size: 12rem;
                margin-bottom: 2rem;
            }
        }
        .main{
            font-size: 2.1rem;
            .form{
                max-width: 80rem;
                .form__area{
                    .form__div{
                        .form__input-consulta{
                            padding: 0.5rem 11rem;
                        }
                    }
                }
            }
        }
    }
}