

// $bg-color:#1d3557;
// $hover-color:#457b9d42;
$color-titles:#F1FAEE;
$text-shadows-titles: 0.25rem 0.25rem rgb(0, 0, 0);

$bg-color:#582c4d;
$hover-color:#a26769;
$color-general:white;
$color-shadow: #ece2d0;
